.tv--button-container {
  display: flex;
  align-items: center;
  margin: 0 8px;
  z-index: 1;

  .tv--icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: filter 100ms ease-in-out;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.tv--tooltip {
  display: flex;
}

.tv--modal {
  max-height: 600px;
  max-width: 1000px;
  height: 100%;
  width: 100%;
  margin: 16px;
  border-radius: 8px;
  background-color: #36393f;
  z-index: 2;

  .tv--modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    h2 {
      font-size: 25px;
      font-weight: 600;
      color: #b9bbbe;
    }
  }

  .tv--modal-content {
    padding-top: 0px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    
    & > .guild {
      display: flex;
      flex-direction: column;
      padding: 8px;
      background-color: #2f3136;
      border-radius: 8px;
      margin-bottom: 8px;
      color: whitesmoke;

      & > .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        & > .info {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 8px;
            width: 26px;
            height: 26px;
            border-radius: 4px;
            background-size: contain;
            background-position: center;
          }

          .name {
            font-size: 18px;
          }
        }

        & > .user-count {
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #202225;
          font-size: 12px;
          color: whitesmoke;
        }
      }

      & > .content {
        display: flex;
        flex-direction: column;
        max-height: 200px;
        contain: content;
        overflow-y: auto;
        margin-left: 28px;
        

        & > .channel {
          padding: 4px;
          & > .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #b9bbbe;

            & > .info {
              display: flex;
              cursor: pointer;

              & > svg {
                width: 18px;
                height: 18px;
                margin-right: 8px;
              }
              & > .name {
                font-size: 16px;
              }

            }

            & > .user-count {
              border-radius: 50%;
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #202225;
              font-size: 12px;
            }
          }

          & > .content {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4px;
            margin-left: 24px;

            & > .user {
              cursor: pointer;
              .avatar {
                width: 25px;
                height: 25px;
                background-position: center;
                background-size: contain;
                border-radius: 50%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin-right: 4px;
                margin-top: 4px;
                border: 2px solid #202225;
                background-color: hsl(216, 7%, 8%);

                .icon-container {
                  width: 14px;
                  height: 14px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #202225;
                  border-radius: 50%;
                  margin-right: -2px;
                  margin-bottom: -2px;
                  .tv--icon {
                    width: 12px;
                    height: 12px;   
                  }
                }
                
              }
            }
          }
        }
      }
    }
  }
}