.vi--icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  border-radius: 50%;
  background-color: #18191c;
  cursor: pointer;
  width: 20px;
  height: 20px;
}


.vi--container {
  display: flex;
  width: min-content;
}

.vi--icon {
  display: flex;
  width: 16px;
  height: 16px;
  transition: filter 100ms ease-in-out;

  &:hover {
    filter: brightness(1.2);
  }
}

.vi--red-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ed4245;
  box-shadow: 0px 0px 4px #ed4245;
}

[class*="message-"] [class*="headerText-"],
[class*="message-"] h2[class*="header-"],
[class*="topSection-"] [class*="nameTag-"],
[class*="headerTop-"] [class*="nameTag-"] {
  display: flex;
  align-items: center;
}

[class*="topSection-"] [class*="nameTag-"] *,
[class*="headerTop-"] [class*="nameTag-"] * {
  overflow: hidden;
}

.vi--settings-container {
  & > .settings {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    .line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      
      .switch {
        min-width: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h2,
      p {
        margin: 0;
      }

      h2 {
        color: whitesmoke;
        font-size: 18px;
        font-weight: 600;
      }

      p {
        margin-top: 4px;
        color: rgb(214, 214, 214);
      }
    }
  }
}

.vi--modal {
  display: flex;
  flex-direction: column;

  .vi--modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    & > .title-container {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .icon {
        width: 64px;
        height: 64px;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        margin-right: 8px;
        background-color: #5865f2;
      }

      .title {
        display: flex;
        align-items: center;

        .guild {
          font-size: 28px;
          font-weight: 600;
          color: #efefef;
        }

        .vanity {
          margin-left: 8px;
          cursor: pointer;
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    & > .vi--modal-close {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .vi--modal-content {
    & > .channel {
      & > .name-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #25272a;
        padding: 8px;
        border-radius: 8px;

        & > .name {
          display: flex;
          font-size: 20px;
          font-weight: 400;
          color: #efefef;
          align-items: center;
          svg {
            margin-right: 8px;
            width: 24px;
            height: 24px;
            pointer-events: none;
          }
        }

        & > .controls {
          display: flex;

          & > .control {
            padding: 4px;
            cursor: pointer;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      & > .members-container {
        padding: 8px;
        padding-left: 40px;
        & > .members {
          display: flex;
          flex-direction: column;

          .member {
            display: flex;
            margin-bottom: 4px;
            cursor: pointer;
            width: min-content;
            align-items: center;

            & > .avatar {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background-position: center;
              background-size: contain;
              margin-right: 8px;
              background-color: #5865f2;
            }

            & > .about {
              border-radius: 9999px;
              background-color: #272a2d;
              display: flex;
              align-items: center;
              padding: 8px;

              & > .name-container {
                display: flex;
                align-items: center;
                width: max-content;
                font-size: 16px;
                color: rgb(223, 223, 223);

                .name {
                  width: 100%;
                }

                .discriminator {
                  opacity: 0.5;
                }
              }

              & > .state {
                background-color: transparent;
                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.vi--cant-join {
  opacity: 0.75;
}

.vi--cant-click {
  cursor: default !important;
}
