.ni--icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.ni--container {
  display: flex;
  width: min-width;
}

.ni--icon {
  display: flex;
  width: 14px;
  height: 14px;
}

[class*="message-"] [class*="headerText-"],
[class*="message-"] h2[class*="header-"],
[class*="voiceUser-"] [class*="content-"] {
  display: flex;
  align-items: center;
}